h1{

  background: #ADD8E6; 
  border: 1px solid black;
  text-align: center;
  border-radius: 100px;
  padding: 10px;
  margin-left:30%;
  margin-right:30%;
}

nav{
  width: 100%;
  overflow:auto;
background: black;
display: flex;
flex-wrap: wrap;

}

nav a{
  text-decoration: none;
  display: block;
  text-align: center;
  color: lightcyan;
  font-family: sans-serif;
  width: 100px;
  display: inline;
  padding: 25px 25px;
  text-decoration: none;
  text-align: left;

}
nav a:hover{
  background-color: white;
  color: black;
  text-transform: uppercase;


}

ul {
  list-style-type: none;
  margin: 20px 10px 25px;
  padding: 0;
}

li {
  float: left;
}

 
p{
  font-size: 25px;
  text-align: justify;
   font-family: times new roman; 
  background: #ADD8E6; 
  border: 1px solid black;
  color: black;
  border-radius: 25px;
  padding: 10px; 

}

#pag1 {
  font-family: times new roman; 
  background: #ADD8E6; 
  border: 1px solid black;
  color: black;
  border-radius: 25px;
  padding: 10px; 
}

.mypics
{
display: block;
margin-left: auto;
margin-right: auto;
width: 500;
height: 300; 
background: #ADD8E6
border-radius: 100px;
padding: 10px;
border:dashed;
border-color: #ADD8E6;
background-color: #ADD8E6

}

table, th, td tr{



}